<div  th:fragment="sidebarLeft" class="col-md-2 bg-white shadow-sm position-fixed top-0 start-0 vh-100 overflow-auto ">
  <div class="mb-3 py-3">
    <img src="/image/logo.png" class="rounded mx-auto d-block img-fluid " alt="Eco Food Logo" width="260"
         height="140">
  </div>
  <div class="list-group list-group-flush mt-3 ps-3">
    <a href="/" class="list-group-item list-group-item-action border-0 py-3 ms-3"
       onmouseover="this.style.backgroundColor='#C3E66E'"
       onmouseout="this.style.backgroundColor=''">
      <i class="fas fa-home me-2"></i> Trang chủ
    </a>
    <a href="#" class="list-group-item list-group-item-action border-0 py-3 ms-3"
       onmouseover="this.style.backgroundColor='#C3E66E'"
       onmouseout="this.style.backgroundColor=''">
      <i class="fas fa-bell me-2"></i> Thông báo
    </a>
    <a href="#" class="list-group-item list-group-item-action border-0 py-3 ms-3"
       onmouseover="this.style.backgroundColor='#C3E66E'"
       onmouseout="this.style.backgroundColor=''">
      <i class="fas fa-utensils me-2"></i>Kho món ngon
      <span class="d-block ps-4">của bạn</span>

    </a>
    <a href="#" class="list-group-item list-group-item-action border-0 py-3 ms-3"
       onmouseover="this.style.backgroundColor='#C3E66E'"
       onmouseout="this.style.backgroundColor=''">
      <i class="fas fa-bookmark me-2"></i> Đã lưu
    </a>
    <a href="#" class="list-group-item list-group-item-action border-0 py-3 ms-3"
       onmouseover="this.style.backgroundColor='#C3E66E'"
       onmouseout="this.style.backgroundColor=''">
      <i class="fas fa-user me-2"></i> Món của tôi
    </a>
    <a href="#" class="list-group-item list-group-item-action border-0 py-3 ms-3"
       onmouseover="this.style.backgroundColor='#C3E66E'"
       onmouseout="this.style.backgroundColor=''">
      <i class="fas fa-clock me-2"></i> Đã nấu
    </a>
    <a href="#" class="list-group-item list-group-item-action border-0 py-3 ms-3"
       onmouseover="this.style.backgroundColor='#C3E66E'"
       onmouseout="this.style.backgroundColor=''">
      <i class="fas fa-gem me-2"></i> Premium
    </a>
  </div>
</div>
